// mixins
@mixin gradient-h($from, $to) {
  background: $from;
  background: -moz-linear-gradient(left, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(left, $from 0%,$to 100%);
  background: -o-linear-gradient(left, $from 0%,$to 100%);
  background: -ms-linear-gradient(left, $from 0%,$to 100%);
  background: linear-gradient(to right, $from 0%,$to 100%);
}
@mixin gradient-v($from, $to) {
  background: $from;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
  background: -o-linear-gradient(top, $from 0%,$to 100%);
  background: -ms-linear-gradient(top, $from 0%,$to 100%);
  background: linear-gradient(to bottom, $from 0%,$to 100%);
}

// general style
body {
  background:url(../images/background.jpg) repeat-x #464646;
  font-family:"Tahoma","Verdana",sans-serif;
  font-size: 14px;
}

img,input { vertical-align:middle; }
a img { border:0; }
#container { width:820px; margin:auto; }
#left { float:left; }
#right { float:right; }
#footer { text-align:center;font-size:10px;color:grey;clear:both;padding-top:20px; }

img.rarity {
  &.l { @include gradient-h(#724400,#4f2e09); }
  &.u { @include gradient-h(#ebebeb,#a0a0a0); }
  &.r { @include gradient-h(#ffff00,#ffcc00); }
  &.c { @include gradient-h(#252525,#000000); }
  &.m { @include gradient-h(#ed1d24,#790000); }
  &.t { @include gradient-h(#8d6790,#582e60); }
  &.s { @include gradient-h(#00bff3,#0071bb); }
}

img#fullcard {
  position:absolute;
  border:2px solid black;
  padding:4px;
  background:white;
  width:223px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #000;
}

/* Controlpanel */
#controlpanel {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  padding-top:10px;
  height:26px;
  text-align:center;
  overflow:hidden;
  #controlicons {
    display:inline-block;
    position:relative;
    border:2px solid black;
    border-bottom-width:0;
    background:#999999;
    margin:auto;
    padding:0 0 5px 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 0 6px #222222;
    span {
      cursor:pointer;
      height:16px;
      padding-left:20px;
      display:inline-block;
      margin:4px;
      line-height: 16px;
      &:hover { color:white; }
    }
    .save { background:url(../images/images.png) -290px 0 no-repeat; }
    .load { background:url(../images/images.png) -290px 0 no-repeat; }
    .price { background:url(../images/coins_alot.png) no-repeat; }
    .price.min { background:url(../images/coins_normal.png) no-repeat; }
  }
}

/* Propose */
.propose {
  border:2px solid black;
  height:58px;
  width:206px;
  margin-top:20px;
  cursor:pointer;
  float:right;
  margin-left:5px;
  background:#999999;
  display:none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 2px 4px #111;
  &:hover { background:#ffffff; }
  div.name { padding-top:7px; line-height:100%; }
  img.edition {
    margin-top:34px;
    margin-right:3px;
    float:right;
  }
  img.thumbnail {
    height:50px;
    float:left;
    margin: 4px;
    margin-right: 6px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #000;
    min-width: 36px;
  }
  img.rarity {
    width:10px;
    border:0px solid black;
    border-left-width:1px;
    height:58px;
    float:right;
  }
}

/* Counter */
div.counter {
  color:#ffffff;
  text-align:center;
  height:90px;
  overflow:hidden;
  width:180px;
  text-shadow: 0 2px 6px black;
  span.currentvalue {
    font-size:30px;
    font-weight:bold;
    line-height:100px;
    &:after {
      content: "€";
      font-size:20px;
      color:#999999;
      font-weight:bold;
      padding-left:3px;
    }
  }
}

/* Cardlist */
/*	Sort */
div.cardlist_container div.sort {
  display:none;
  div {
    float:right;
    font-size:12px;
    text-align:center;
    line-height:18px;
    cursor:pointer;
    color:white;
    height:18px;
    border-top: 2px solid #000;
    border-left: 1px solid #000;
    @include gradient-v(#464646,#2d2d2d);
    padding:0 3px;
  }
  .reset,.cards { float:left; }
  .title,.cards { color:black; cursor:auto; }
  .reset {
    font-weight:bold;
    border-right: 2px solid #000;
    padding:0 5px;
  }
  .cards {
    margin-left:6px;
    background: #999;
    border-top-left-radius: 5px;
    border-left: 2px solid #000;
    filter: none;
  }
  .title {
    background: #999;
    border-left:2px solid #000;
    filter: none;
  }
  .rate {
    margin-right:11px;
    border-right: 2px solid #000;
    border-top-right-radius: 5px;
  }
  .active { font-weight:bold; }
  .down { text-decoration:underline; }
  .reset:hover, .name:hover, .edition:hover, .rate:hover, .rarity:hover { @include gradient-v(#2d2d2d,#464646); }
}

/* 	List */
ul.cardlist {
  list-style-type:none;
  padding:0;
  width:404px;
  clear:both;
  margin:0;
}
ul.cardlist li.card {
  width: 400px;
  height: 58px;
  line-height: 24px;
  background: white;
  display: none;
  position: relative;
  border: 1px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 2px 6px #222;
}
ul.cardlist li.card:first-child {	border-top: 2px solid black; }
ul.cardlist li.card:last-child { border-bottom: 2px solid black; }
ul.cardlist div.right {
  float:right;
  text-align:right;
  vertical-align:middle;
}
ul.cardlist div.right br { display:block }
ul.cardlist button.minus,
ul.cardlist button.plus {
  width:20px;
  height:29px;
  border:none;
  padding:0;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  text-shadow:0 2px 2px #000;
  padding-bottom: 5px;
}
ul.cardlist button.minus { @include gradient-v(#353535,#252525); }
ul.cardlist button.plus { @include gradient-v(#464646,#353535); }
ul.cardlist button.minus:hover,
ul.cardlist button.plus:hover { @include gradient-v(#252525,#464646); }

ul.cardlist li.card span { padding:5px 3px 0 0; }
ul.cardlist li.card span.rate { font-weight: bold; }
ul.cardlist li.card span.rate:after { content:"€"; font-size: 12px; font-weight: normal; }
ul.cardlist li.card div.name { padding-top:3px; }
ul.cardlist li.card span.rate.loader { padding-left:20px; background:url(../images/loader.gif) 0 5px no-repeat; }
ul.cardlist li.card span.rate.foil { color:#808000; font-weight:bold; }
ul.cardlist li.card span.rate.min { border-bottom:2px solid red; }
ul.cardlist li.card img.edition { margin:-5px 3px 0 0; }
ul.cardlist li.card img.edition.choice {
  cursor:pointer;
  margin:0 1px;
  padding: 2px;
  border-radius: 4px;
}
ul.cardlist li.card img.edition.multiple {
  border-radius: 5px;
  box-shadow:0px 0px 4px #000;
  padding:2px;
  border: 1px solid #000;
  cursor:pointer;
}
ul.cardlist li.card img.edition.choice:hover {
  background: #fff;
}
ul.cardlist li.card img.edition.multiple:hover {
  background-color:#999;
}

ul.cardlist li.card div.editions {
  position: absolute;
  max-width: 315px;
  background: #999;
  right: 35px;
  z-index: 100;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid black;
  padding: 2px;
  margin-top: -6px;
  box-shadow: 0 0 5px #333;
}

ul.cardlist li.card .checkbox.foil {
  display:inline-block;
  width:29px;
  height:20px;
  background:url("../images/foil.png") 5px -20px no-repeat;
  cursor: pointer;
  vertical-align: middle;
  margin:-5px 5px 0 5px;
}

ul.cardlist li.card .checkbox.foil.checked { background-position: 0px 0px; }
ul.cardlist li.card .checkbox.foil.locked { background-position: -29px -20px; opacity:0.5; cursor: default; }
ul.cardlist li.card .checkbox.foil.checked.locked { background-position: -29px 0px; cursor: default; }

ul.cardlist img.thumbnail {
  height: 50px;
  vertical-align: middle;
  float: left;
  margin: 5px;
  margin-left: 6px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #000;
  min-width: 36px;
}
ul.cardlist .name.foil {
  font-weight:bold;
  font-style:italic;
  color:#808000;
}
ul.cardlist img.rarity {
  width:10px;
  border:0px solid black;
  border-left-width:1px;
  height:29px;
}

/* Suggestions */
input.input_cardname {
  border: none;
  border-bottom: 1px solid black;
  height: 16px;
  margin: 0 5px;
  vertical-align: middle;
  width: 359px;
  padding-top: 2px;
}
input.input_cardname:focus { outline:none; }
div.input {
  background: #fff;
  border: 2px solid black;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  height: 24px;
  margin-top: 10px;
  position: relative;
  width: 388px;
  box-shadow: 0 2px 6px #222;
}
div.input:after {
  color: #fff;
  content: "↓";
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  height: 24px;
  line-height: 23px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width: 19px;
  right: 0;
  @include gradient-v(#464646,#252525);
}
input.input_cardname.inactive {
  font-style:italic;
  color:grey;
}
ul.suggestions {
  list-style-type:none;
  padding:0;
  margin:0;
  margin-left:4px;
  padding-bottom:30px;
  position:absolute;
}
ul.suggestions li.suggestion {
  width:385px;
  height:24px;
  background:#999999;
  border:2px solid black;
  border-width:0 2px 1px 2px;
  cursor:pointer;
  line-height:24px;
  overflow:hidden;
}
ul.suggestions li.suggestion:last-child {
  border-bottom-width: 2px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
ul.suggestions li.suggestion.active {
  background:#ffffff;
}

ul.suggestions li.suggestion .arrow {
  display:inline-block;
  width:16px;
  border-left:1px solid black;
  float:right;
  vertical-align: middle;
  color: #fff;
  font-family: Tahoma, sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 24px;
  padding: 0 2px;
  text-align: center;
  vertical-align: middle;
  @include gradient-v(#464646,#252525);
}
ul.suggestions li.suggestion .arrow:hover {
  @include gradient-v(#252525,#464646);
}
ul.suggestions li.suggestion img.edition {
  float:right;
  padding:2px 2px 1px 2px;
}
ul.suggestions li.suggestion img.thumbnail {
  right:100%;
  margin:-75px 10px 0;
  position:absolute;
  width:100px;
  height:auto;
  display:none;
  padding: 3px;
  background: white;
  border: 2px solid black;
  box-shadow: 0px 0px 4px #000;
  border-radius: 8px;
}
ul.suggestions li.suggestion span.name { padding:0 3px; }
ul.suggestions li.suggestion span.name_real { font-size:80%; }
ul.suggestions li.suggestion span.name em { font-weight:bold; font-style:normal; }
#right ul.suggestions li.suggestion img.thumbnail { left:100%; }
ul.suggestions li.suggestion.active img.thumbnail { display:block; }

/* Popup */
#popup {
  position: absolute;
  z-index: 100;
  display: block;
  text-align: center;
  bottom: 30px;
  width: 330px;
  margin-left: -165px;
  left: 50%;
  .window {
    background: white;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px #000000;
    font-size: 12px;
    padding: 10px;
    position: relative;
    display: none;
    cursor: pointer;
    h1 {
      font-size: 18px;
      margin: 0 0 5px;
      text-align: center;
      line-height: 15px;
    }
    p {
      text-align: left;
      margin:0;
    }
  }
}